/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*COLORS:
    
    turqoise: #30C4C9; 
    turqoise super light: #EBF2F2;
    
    dark (text): #092324;
	light (background): #FCF9FA;
	
	
	pink: #FC328A;
	pink light: #FC9AC5;
	pink gray: #E6D1DA;

	lime: #7EFFE0;
    

*/

/*Webfonts*/

@font-face {
	font-family: 'Cassanet';
	src: url('webfonts/cassannet-webfont.eot'); /* IE9 Compat Modes */
	src: url('webfonts/cassannet-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('webfonts/cassannet-webfont.woff') format('woff'), /* Modern Browsers */
	     url('webfonts/cassannet-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('webfonts/cassannet-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	background: #FCF9FA;
	color: #092324;
	line-height: 1.3;
	font-size: 12pt;
	font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

a {
color: #30c4c9;
text-decoration: none;
}
a:hover {
	background: #092324;
	color: #FCF9FA;
	text-decoration: none;
}

#container {
	display: block;
}

#container > section {
	width: 100%;
	padding: 0 0 4em 0;
}

#container .inner {
	margin: 0 auto;
	width: 960px;
	padding: 0em;
	clear: both;
}

.inner > section {
	float: left;
}

#container section header{
	text-align: center;
	margin: 0 auto ;
	position: relative;
	width: 960px;
	padding: 3em 0 0em 0;
}



h1 {
	font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 300%;
	margin: 0.5em 0 0.5em 0;
	letter-spacing: 0px;
}

h2 {
	font-family:"Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	color: rgba(9,35,36,.4);
	font-size: 150%;
	margin: 1em 0 1em 0;
}

p {
	font-size: 100%;
	line-height: 1.5;
	margin: 0 0 .5em 0;
}

ul {
	list-style-type: square;
}

li {
	list-style-position: inside;
	margin: 5px 0;
}
small {
	color: rgba(9,35,36,.5);
	font-size: 75%;
	font-style: italic;
}

blockquote {
	color: rgba(9,35,36,1);
}
button {
	border: 0;
}

.nodisplay {
	display: none;
}

/*Grid*/	
.grid1 {
	width: 220px;
	margin-right: 20px;
	float: left;
}

.grid2 {
	width: 460px;
	margin-right: 20px;
	float: left;
}

.grid3 {
	width: 700px;
	margin-right: 20px;
	float: left;
}

.grid4 {
	width: 960px;
	margin-right: 0px;
	float: left;
}

.grid6 {
	width: 960px;
	margin-right: 0px;
	float: left;	
}

.grid1-6 {
	width: 140px;
	margin-right: 20px;
	float: left;
}

.grid2-6{
	width: 300px;
	margin-right: 20px;
	float: left;
}

.grid4-6{
	width: 620px;
	margin-right: 20px;
	float: left;
}

.wrapper{
	clear: both;
	float: left;
	height: 220px;
	padding: 20px 0 20px 0;
}

.noMarginRight{
	margin-right: 0px !important;
}

/*--Nav---*/
#topMenu {
	display: block;
	width: 100%;
	float: left;
	z-index: 10000;
}

nav {
	width: 100%;
	float: left;
	background: #fcf9fa;
	padding: 5px 0;
	border-bottom: solid 1px rgba(9,35,36,.1);
	font-size: 100%;
	font-variant: small-caps;
	font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.sticky {
	position: fixed;
}

nav a {
	margin: 3px 0px 0 0;
	color: #092324;
	display: inline-block;
	padding-bottom: 3px;
	}

nav .logo {
	height: 30px;
	width: 80px;
	position: relative;
	float: left;
	margin: -3px 0 0 20px;
	cursor: pointer;
	background: url(/img/css/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
nav .logo:hover{
	height: 30px;
	width: 80px;
	position: relative;
	float: left;
	margin: -3px 0 0 20px;
	cursor: pointer;
	background: url(/img/css/logo-mono.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #092324;
}

.navMain{
	width: 960px;
	margin: 0 auto;
}

.navSocial {
	display: block;
	float: right;
	position: relative;
	top: 6px;
	margin-right: 30px;
}

/*First Fold*/	
#firstFold{
	float: left;
	background-image:  url(../img/css/fold1.jpg);
	background-position: top left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
	background-attachment: fixed;
	width: 100%;
	min-height: 580px;
	border-bottom: solid 1px rgba(9,35,36,.1);
	overflow: hidden;
	padding: 0 !important;
	margin: 0 0 0 0;
}


#firstFold .typo{
	background-image:  url(../img/css/fold-header.png);
	background-position: top left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
	height: 500px;
	margin: 3em 0 0 0;
	float: right;
}


/*----Sizes----*/

#sizes {
	padding-bottom: 0 !important;
}
.wrapper h2 {
	padding-top: 0;
	margin-top: 0;
}

.numberButton {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	background-color: #7EFFE0;	
	margin: -35px 0 0 -35px;
	position: absolute;
	color: #092324;
	font-family: "Cassanet", "HelveticaNeue-Light", Helvetica,sans-serif;
	font-size: 100%;
}

.illustration {
	background-repeat: no-repeat;
	width: 220px;
	height: 220px;
	display: block;
	border-radius: 10px;
}

.illustration1 {
	background-image: url(../img/css/underbust.jpg);
}

.illustration2 {
	background-image: url(../img/css/overbust.jpg);
}
#chartLabel {
	background-image: url(../img/css/chartlabel.png);
	background-repeat: no-repeat;
	width: 220px;
	height: 220px;
	margin: 40px 0;
}

#sizeTable {
	display: block;
	padding: 30px 0;
	text-align: left !important;
}

#sizeTable table{
	font-size: 14px;
	text-align: left;
}
#size i {
	padding-bottom: 10px;
}
#sizeTable td {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	width: 40px; 
	padding: 4px 1px;
	margin: 4px 4px 0 0;
	background: #fcf9fa;;
}

.tooltip {
	display: none;
	position: absolute;
	margin-left: -30px;
	margin-top: 0em;
	text-align: left;    	
	z-index: 1000;
	padding: 5px;
	width: 90px;
	font-weight: bold;
	font-size: 14px;
	background: #fcf9fa;
	font-variant: small-caps;
	padding: 10px;
}

#sizeTable td:hover {
	background: #092324 !important;
	font-weight: bold;
	color: #fcf9fa;
}

#sizeTable td:hover .tooltip {
	display: block;
	border: solid 1px rgba(48,196,201,.2);
	color: rgba(9,35,36,.6);
}

#sizeTable td.highlighted {
	background: #30c4c9 !important;
	font-weight: bold;
	color: #fcf9fa;
}

#sizeTable td.highlighted:hover .tooltip {
	border: solid 1px #7EFFE0;
	color: rgba(9,35,36,1);
}
#sizeTable td.highlighted .tooltip {
	border: solid 1px #7EFFE0;
	background-color: #30c4c9;
}
td.highlighted .tooltip hr {
	border-top: solid 1px #fcf9fa;
}

.sizeCalculator {
	display: inline-block;
}
.sizeCalculator label {
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	margin: 10px 0;	
}

.sizeCalculator .sliderLeftLabel,
.sizeCalculator .sliderRightLabel {
	text-transform: uppercase; 
	font-weight: bold;
	position: absolute;
	margin-top: 6px;
	z-index: 999;
	color:  rgba(252, 249, 250, .6);
}

.sizeCalculator .sliderLeftLabel {
	margin-left: 4px;
}
.sizeCalculator .sliderRightLabel {
	margin-left: 430px;	
}

.ui-slider-handle {
	z-index: 1000 !important;
	background: #7EFFE0 !important; 
}

.sizeCalculator .slider {
	display: inline-block;
	position: relative;
	top: 4px;
	width: 100%;
	margin: 0 0px 0 0;
	background: #092324; 
	height: 16px;
}

.sizeCalculator .sliderLabel{
	display: inline-block;
	text-transform: uppercase;
	font-size: 150%;
	font-weight: bold;
	background: #7EFFE0;
	text-align: center;
	margin-right: -20px;
	
}

.sizeCalculator .sliderLabel span{
	text-transform: none;
}

#calculateSize {
	margin: 1em 0;
	width: 220px;
}
#calculateSize.button-huge {
	background: #30c4c9;
}
#calculateSize.button-huge:hover {
	background: #092324;
}

#calculateSizeSection {
	width: 100%;
	text-align: center;
	background: #7EFFE0;
	padding-bottom: 30px;
}

.sizeSuggestionWrapper {
	float: left;
	width: 100%;
	margin-top: 20px;
}

#sizeSuggestion {
	display: none;
	clear: both;
	font-family: "Cassanet", "Lato", "HelveticaNeue-Light", "Helvetica", sans-serif;
	font-size: 100%;
	background: #7EFFE0;
	text-align: center;
}


/*MainGallery*/
#mainGallery{
	background: #fcf9fa;
	border-bottom: solid 1px rgba(9,35,36,.1);
}

#mainGallery header{
}

#mainGallery .inner {
	position: relative;
	top: 40px;
}

.braThumb {
	background: #FCF9FA;
	margin-bottom: 20px;
	box-shadow: 0 0 1px rgba(9,35,36,.3) inset;
}

.braThumb img {
	cursor: url(../img/css/cursor-plus.png), pointer;
}

.braThumb:hover img {
	-webkit-filter: contrast(115%);
	-moz-filter: contrast(115%);
	-ms-filter: contrast(115%);
	-o-filter: contrast(115%);
	filter: contrast(115%);
}

.braThumb figcaption{
	text-align: center;
	padding: 10px 0 10px 0;	
}


.braThumb small {
	font-style: normal;
}
.braThumb h3 {
	font-size: 80%;
}

#mainGallery header h1 {
	margin: 0 !important;
}

/*Single Item View*/
.singleItemFigure img{
	width: 100%;
	box-shadow: 0 0 1px rgba(9,35,36,.3);

}
.singleItemDescription {
	height: 620px;
}

.singleItemDescription p,
.singleItemDescription ul {
	font-size: 85%;
}

.singleItemDescription .wrapper {
	height: 480px;	
	padding: 0;
}

.singleItemThumbs img {
	box-shadow: 0 0 1px rgba(9,35,36,.3);
}

.singleItemDescription .addToCart {
	width: 100%;
	font-size: 85%;
	margin: 20px 0;
}

.addToCart td {
	padding: 10px 6px 10px 0;	
	border-top: solid 1px #30c4c9;
}

.addToCart select {
	vertical-align: top;
	margin-top: 0px;
}

/*Realphotos*/
#realphotos {
	background: rgba(9,35,36, 1);
	padding: 20px 0 40px 0 !important;
}

#realphotos header h1 {
	color: #FCF9FA;
}

#realphotos header h2 {
	color: rgba(252, 249, 250, .6);
}

.square {
	height: 220px;
	background: rgba(252, 249, 250, 1);
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 5%;
	cursor:pointer;
}

.square .caption {
	width: 220px;
	height: 220px;
	position: relative;
	top: -224px;
	display: none;
	text-align: center;
	background: #30c4c9;
}

.square .caption h2 {	
	color: #fcf9fa;
	font-size: 500%;
	font-family: "Cassanet", "Helvetica", sans-serif;
	margin-top: 110px;
	margin-bottom: 40px;
	line-height: 1%;	
}

.caption p {
	font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0px 20px;
	font-size: 100%;
	font-variant: small-caps;;
	line-height: 1.5em;		
	color: #fcf9fa;
}

#realphotos .square:hover .caption {
	display: inline-block;
}

/*Testimonials*/	
#testimonials {
	border-bottom: solid 1px rgba(9,35,36,.1);
}

#testimonials blockquote {
	font-style: oblique;
	line-height: 1.5;
	margin: 0 0 30px 0;
	height: 120px;
	text-align: center;
	display: inline-table;
}

#testimonials blockquote small {
	display: block;
	float: right;
	clear: both;
	font-size: 75%;
	font-style: normal;
}

.face,
.face img {
	border-radius: 50%;
	margin: 0 0px 10px 0;
	width: 70px;
	border: solid 2px #FCF9FA;
}

.face:hover {
	background: none;
}

#testimonials .face:hover img{
	-webkit-filter: contrast(150%);
	-moz-filter: contrast(150%);
	-ms-filter: contrast(150%);
	-o-filter: contrast(150%);
	filter: contrast(150%);
}



/*Preorder*/
#preorder {
	background: #fcf9fa;
	margin: 0 0 0 0;
	border-bottom: solid 1px rgba(9,35,36,.1);
}

#preorder header {	
	width: 100% !important;
	background: #30C4C9;
	text-align: center !important;	
	margin: 0 0 3em 0 !important;
}

#preorder h1 {
	margin-bottom: 0;
	font-size: 100px;
	color: #FCF9FA;
	font-family: "Cassanet", "Lato", "Helvetica", sans-serif;
}

#preorder header h2 {
	color: rgba(252, 249, 250, .6);
}

#preorder h3 {
	margin: 0 0 1em 0;
}


#preorder p {
	font-size: 100%;
	line-height: 1.5;
}

#preorder p > a{
	
	font-variant: small-caps;
}

#preorder p > a:after{
	content: " ï¿«";	/*&#65515;*/
}

.button-huge {
	font-weight: bold;
	font-size: 	30px;
	font-family: "Cassanet", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	color: #FFF3F8;
	background: #fc328a;
	margin: 50px;

}

.button-huge:hover {
	background: #092324;
}

.button-huge small {
	color: #FFF3F8;
	margin: 4px 0 0 0;
	font-size: 60%;
	display: block;
	border-top: solid 1px rgba(202,0,88,.1);
	padding: .2em 2em;
	font-style: normal;
	font-weight: normal;
}
#preorder img {
	margin: 30px 0 50px 0;
	background: none;
}
#preorder img:hover {
	-webkit-filter: brightness(90%) contrast(150%);
	background: none;
}
.icon {
	display: block;
	height: 75px;
	width: 75px;
	background: url(../img/css/sprite.png) no-repeat;
	margin: 0 0px 40px 113px;
}

.iconHeader {
	background: url(../img/css/sprite.png) no-repeat;
	height: 70px;
	padding: 5px 0 0 95px;
	margin-bottom: 20px;
}

.shipping {
	background-position: 0px -150px;
}

.returns {
	background-position: 0px 0;
}

.manufacturer {
	background-position: 0px -75px;
}

/*Order form popup*/
#orderForm {
	display: none;
}

 #orderIframe{
 	box-shadow: 0 0 1px rgba(9,35,36,.5);
 }

.orderGallery {
	display: block;
	float: left;
	margin: 0 0 60px 0;
}

.orderGallery li {
	display: block;
	float: left;
	width:25%;
	font-size: 75%;
}

.orderGallery li img {
	width: 100%;
}

.orderGallery .caption{
	background: rgba(255,255,255,.7);
position: relative;
margin: -50px 0 0 0;
height: 50px;
}
/*------about ---------*/
#about {
	border-bottom: solid 1px rgba(9,35,36,.1);
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

#comments {
	width: 580px !important;
	background: #fcf9fa;
	padding: 20px;
	border-radius: 10px;
}

#ourStory p {
	padding: 0 20px 0 20px;
}
#ourStory h2 {
	margin-left: 20px;
}

#ourStory .face {
	width: 70px;
	background: rgba(9,35,36,.1);
	margin-left: 0;
}
#ourStory img {
	margin: 20px;
}

/*---#mailingList---*/
#mailingList {
	background: #7EFFE0;
	text-align: center;
}

#mailingList .button-huge {
	margin: 20px 0 20px 0;
}
.mc-field-group {
	display: block;
	margin-left: 10px;
}

.mc-field-group input[type=text], 
.mc-field-group input[type=email]{
	border: none;
	font-size: 150%;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	width: 250px;
	background-color: #FCF9FA;
	text-align: center;
	border-radius: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

#mc_embed_signup {}
/*-----footer--------*/
footer {
	padding: 40px 0;
	color: rgba(9,35,36,.5);
	float: left;
	width: 100%;
	font-size: 85%;
}

footer li{
	list-style-type: none;
	font-size: 100%;
	margin: 5px 0;
}
.socialIcons a {
	display: block;
	float: left;
	width: 75px;
	height: 75px;
	background-image: url(../img/css/sprite.png);
	background-repeat: no-repeat;
}

.socialIcons .fb {
	background-position: 0 -224px;
}
.socialIcons .fb:hover {
	background-position: -75px -224px;
}
.socialIcons .twitter {
	background-position: 0 -374px;
}
.socialIcons .twitter:hover {
	background-position: -75px -374px;
}
.socialIcons .pinterest {
	background-position: 0 -450px;
}
.socialIcons .pinterest:hover {
	background-position: -75px -450px;
}
.socialIcons .instagram {
	background-position: 0 -299px;
}
.socialIcons .instagram:hover {
	background-position: -76px -299px;
}

footer .copyright{
	margin-top: 20px;
	font-size: 135%;
}
#manufacturerPic {
	background-image: url(/img/css/manufacturer.jpg);
	background-repeat: no-repeat;
	border-radius: 10px;
	height: 300px;
	margin: 10px 0;
}

/*---Shopping Cart-------*/
#shoppingCart {
	background: #FC328A;
	color: #fff;
	float: right;
	width: 220px;
	padding: 10px;
	border-bottom-left-radius: 10px;
	font-size: 85%;
	position: absolute;
	right: 0px;
	margin-top: 41px;
}

#shoppingCart {}
/*--------OVERLAY & MODALS-----------*/
#overlay {
	position: absolute;
	top: 0;
	background: rgba(48,196,201,.5);
	width: 100%;
	z-index: 100000;
	margin: 0 !important;
	display: none;
	cursor:url(../img/css/cursor-minus.png),auto;
}

#modal {
	width: 960px;
	position: absolute;
	/*Remove Later*/
	display: none;
	left: 50%;
	padding: 20px;
	margin-left: -500px;
	z-index:  100001;
	background: #FCF9FA;
	box-shadow: 0 0 4px rgba(9,35,36,.5);
	border-radius: 10px;
}

#closeModal {
	font-size: 75%;
	display: inline-block;
	text-align: right;
	padding: .25em 0;
	border-radius: 5px;
	position: absolute;
	float: right;
	font-variant: small-caps;
	cursor: pointer;
	margin: -15px 0 0 900px;
	width: 60px;
}

#closeModal:hover {
	text-decoration: underline;
	background: none;
	color: inherit;
}

/*---- Thankyou for signing up -----*/
#thankYou {
	text-align: center;
}
#thankYou header{
	background-color: #7EFFE0;
	padding: 40px 0;
	z-index: 1000;
	width: 100%;
}

#socialGallery {
	z-index: 900;
	position: fixed; 
}

#thankYou .inner {
	width: 960px;
	margin: auto;
}
#thankYou h2 {
	margin-bottom: 50px;
}
#thankYoufooter {
	padding-top: 20px;
}
