/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*COLORS:
    
    turqoise: #30C4C9; 
    turqoise super light: #EBF2F2;
    
    dark (text): #092324;
	light (background): #FCF9FA;
	
	
	pink: #FC328A;
	pink light: #FC9AC5;
	pink gray: #E6D1DA;

	lime: #EEFF00;
    

*/

/*Webfonts*/

@font-face {
	font-family: 'Cassanet';
	src: url('webfonts/cassannet-webfont.eot'); /* IE9 Compat Modes */
	src: url('webfonts/cassannet-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('webfonts/cassannet-webfont.woff') format('woff'), /* Modern Browsers */
	     url('webfonts/cassannet-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('webfonts/cassannet-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	background: #FCF9FA;
	color: #092324;
	line-height: 1.3;
	font-size: 12pt;
	font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

a {
color: #30c4c9;
text-decoration: none;
}
a:hover {
	background: #092324;
	color: #FCF9FA;
	text-decoration: none;
}

#container {
	display: block;
}

#container > section {
	width: 100%;
	padding: 0 0 4em 0;
}

#container .inner {
	margin: 0 auto;
	width: 960px;
	padding: 0em;
	clear: both;
}

.inner > section {
	float: left;
}

#container section header{
	text-align: center;
	margin: 0 auto ;
	position: relative;
	width: 960px;
	padding: 3em 0 0em 0;
}



h1 {
	font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 300%;
	margin: 0 0 1em 0;
	letter-spacing: 0px;
}

h2 {
	font-family:"Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	color: rgba(9,35,36,.4);
	font-size: 150%;
	margin: .7em 0 .7em 0;
}

p {
	font-size: 100%;
	line-height: 1.5;
	margin: 0 0 .5em 0;
}

ul {
	list-style-type: square;
}

li {
	list-style-position: inside;
	margin: 5px 0;
}
small {
	color: rgba(9,35,36,.5);
	font-size: 75%;
	font-style: italic;
}

blockquote {
	color: rgba(9,35,36,.5);
}
button {
	border: 0;
}

.nodisplay {
	display: none;
}

/*Grid*/	
.grid1 {
	width: 220px;
	margin-right: 20px;
	float: left;
}

.grid2 {
	width: 460px;
	margin-right: 20px;
	float: left;
}

.grid3 {
	width: 700px;
	margin-right: 20px;
	float: left;
}

.grid4 {
	width: 960px;
	margin-right: 0px;
	float: left;
}

.grid6 {
	width: 960px;
	margin-right: 0px;
	float: left;	
}

.grid1-6 {
	width: 140px;
	margin-right: 20px;
	float: left;
}

.grid2-6{
	width: 300px;
	margin-right: 20px;
	float: left;
}

.grid4-6{
	width: 620px;
	margin-right: 20px;
	float: left;
}

/*--Nav---*/
nav {
	background: #fcf9fa;
	padding: 5px 0;
	display: block;
	width: 100%;
	border-bottom: solid 1px rgba(9,35,36,.1);
	float: left;
	z-index: 10000;
	font-size: 100%;
	font-variant: small-caps;
	font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.sticky {
	position: fixed;
}

nav a {
	margin: 3px 0px 0 0;
	color: #092324;
	display: inline-block;
	text-align: center;
	}

nav .logo {
	height: 30px;
	position: relative;
	float: left;
	margin: -2px 0 0 30px;
	cursor: pointer;
}

nav .logo img {
	height: 35px;
}
.navMain{
	width: 960px;
	margin: 0 auto;
}

.navSocial {
	display: block;
	float: right;
	position: relative;
	top: 6px;
	margin-right: 30PX;
}

/*First Fold*/	
#firstFold{
	float: left;
	background-image:  url(../img/css/fold34.jpg);
	background-position: top left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
	background-attachment: fixed;
	width: 100%;
	min-height: 580px;
	border-bottom: solid 1px rgba(9,35,36,.1);
	overflow: hidden;
	padding: 0 !important;
	margin: 0 0 0 0;
}


#firstFold .typo{
	background-image:  url(../img/css/fold-header.png);
	background-position: top left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
	height: 500px;
	margin: 3em 0 0 0;
	float: right;
}


/*----Sizes----*/
.half {
	width: 50%;
	float: left;
}	

.innerWrapper {
	height: 250px;
}

.illustration {
	background-image: url(../img/girl/sprite.png);
	background-repeat: no-repeat;
	width: 206px;
	height: 224px;
	display: block;
}


.illustration1 {
	background-position: 0 0;
}

.illustration2 {
	background-position: 0 -227px;
}



#sizeTable {
	display: block;
	padding: 20px 0;
	text-align: center;
	background: #FCF9FA;
	border-right: solid 1px rgba(9,35,36,.1);
}

#sizeTable table{
	margin: 10px 0 0 0;
	font-size: 11px;
	text-align: left;
}

#sizeTable td {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	width: 28px; 
	padding: 4px 0;
	border: solid 1px rgba(48,196,201,.2);
	margin: 2px 2px 0 0;
	background: #fff;
}

.tooltip {
	display: none;
	position: absolute;
	margin-left: -30px;
	margin-top: 0em;
	text-align: left;    	
	z-index: 1000;
	padding: 5px;
	width: 70px;
	font-weight: bold;
	font-size: 12px;
	background: #fff;
	box-shadow:  0 0 5px rgba(9,35,36,.2);
	font-variant: small-caps;
}

#sizeTable td:hover {
	background: #092324 !important;
	font-weight: bold;
	color: #fcf9fa;
}

#sizeTable td:hover .tooltip {
	display: block;
	border: solid 1px rgba(48,196,201,.2);
	color: rgba(9,35,36,.6);
}

#sizeTable td.highlighted {
	background: #092324 !important;
	font-weight: bold;
	color: #fcf9fa;
}

#sizeTable td.highlighted:hover .tooltip,
#sizeTable td.highlighted .tooltip {
	border: solid 1px #EEFF00;
	color: rgba(9,35,36,1);
}

.sizeCalculator {
	display: inline-block;
}
.sizeCalculator label {
	display: inline-block;
	width: 80px;
	margin: 10px 10px 20px 0;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

.sizeCalculator .sliderLeftLabel,
.sizeCalculator .sliderRightLabel {
	font-size: 9px;
	text-transform: uppercase; 
	font-weight: bold;
	position: absolute;
	margin-top: 10px;
	z-index: 999;
}

.sizeCalculator .sliderLeftLabel {
	margin-left: 4px;
}
.sizeCalculator .sliderRightLabel {
	margin-left: 260px;	
}

.ui-slider-handle {
	z-index: 1000 !important;
	background: rgba(238,255,0,1) !important; 
	border: solid 1px #999 !important;
}

.sizeCalculator .slider {
	display: inline-block;
	position: relative;
	top: 3px;
	width: 280px;
	margin: 0px 15px 0 0;
	background: rgba(9,35,36,.1); 
}

.sizeCalculator .sliderLabel{
	display: inline-block;
	width: 50px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	background: #EEFF00;
	text-align: center;
	
}

.sizeCalculator .sliderLabel span{
	text-transform: none;
}

#calculateSize {

}

#calculateSize:hover{

}

.calculateSizeSection{
	width: 100%;
	background: #30C4C9;
	text-align: center;
}
#sizeSuggestion {
	display: none;
}


/*MainGallery*/
#mainGallery{
	background: #fcf9fa;
	border-bottom: solid 1px rgba(9,35,36,.1);
}

#mainGallery header{
}

#mainGallery .inner {
	position: relative;
	top: 40px;
}

.braThumb {
	background: #FCF9FA;
	margin-bottom: 20px;
	box-shadow: 0 0 1px rgba(9,35,36,.3) inset;
}

.braThumb figcaption{
	text-align: center;
	padding: 10px 0 10px 0;	
}


.braThumb small {
	font-style: normal;
}
.braThumb h3 {
	font-size: 80%;
}
.middle {
	width: 220px;
	float: left;
	position: relative;
	top: -20px;
}

.middle img {
	width: 220px;
}

#findYourSize:hover {
	-webkit-filter: brightness(90%) contrast(150%);
	background: none;
}

#mainGallery header h1 {
	margin: 0 !important;
}
.middleWrap{
	width: 360px;
	text-align: center;	
	border-top: solid 1px rgba(9,35,36,.1);
	border-bottom: solid 1px rgba(9,35,36,.1);
	float: left;
	margin-top:60px;
}


/*Realphotos*/
#realphotos {
	background: rgba(9,35,36, 1);
	padding: 20px 0 40px 0 !important;
}

#realphotos header h1 {
	color: #FCF9FA;
}

#realphotos header h2 {
	color: rgba(252, 249, 250, .6);
}

.square {
	height: 220px;
	background: rgba(252, 249, 250, 1);
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 5%;
}

.square .caption {
	width: 220px;
	height: 220px;
	position: relative;
	top: -224px;
	display: none;
	text-align: center;
	background: #30c4c9;
}

.square .caption h2 {	
	color: #fcf9fa;
	font-size: 500%;
	font-family: "Cassanet", "Helvetica", sans-serif;
	margin-top: 110px;
	margin-bottom: 40px;
	line-height: 1%;	
}

.caption p {
	font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0px 20px;
	font-size: 100%;
	font-variant: small-caps;;
	line-height: 1.5em;		
	color: #fcf9fa;
}

#realphotos .square:hover .caption {
	display: inline-block;
}

/*Testimonials*/	
#testimonials {
	border-bottom: solid 1px rgba(9,35,36,.1);
}

#testimonials blockquote {
	font-style: oblique;
	line-height: 1.5;
	margin: 0 0 30px 0;
	height: 120px;
	text-align: center;
	display: inline-table;
}

#testimonials blockquote small {
	display: block;
	float: right;
	clear: both;
	font-size: 75%;
	font-style: normal;
}

.face,
.face img {
	border-radius: 50%;
	margin: 0 0px 10px 0;
	width: 70px;
	border: solid 2px #FCF9FA;
}

.face:hover {
	background: none;
}

#testimonials .face:hover img{
	-webkit-filter: contrast(150%);
}



/*Preorder*/
#preorder {
	background: #fcf9fa;
	margin: 0 0 0 0;
	border-bottom: solid 1px rgba(9,35,36,.1);
}

#preorder header {	
	width: 100% !important;
	background: #30C4C9;
	text-align: center !important;	
	margin: 0 0 3em 0 !important;
}

#preorder h1 {
	margin-bottom: 0;
	font-size: 100px;
	color: #FCF9FA;
	font-family: "Cassanet", "Lato", "Helvetica", sans-serif;
}

#preorder header h2 {
	color: rgba(252, 249, 250, .6);
}

#preorder h3 {
	margin: 0 0 1em 0;
}


#preorder p {
	font-size: 100%;
	line-height: 1.5;
}

#preorder p > a{
	
	font-variant: small-caps;
}

#preorder p > a:after{
	content: " ï¿«";	/*&#65515;*/
}

.button-huge {
	font-weight: bold;
	font-size: 	30px;
	font-family: "Cassanet", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	color: #FFF3F8;
	background: #fc328a;
	margin: 50px	;

}

.button-huge:hover {
	background: #092324;
}

.button-huge small {
	color: #FFF3F8;
	margin: 4px 0 0 0;
	font-size: 60%;
	display: block;
	border-top: solid 1px rgba(202,0,88,.1);
	padding: .2em 2em;
	font-style: normal;
	font-weight: normal;
}
#preorder img {
	margin: 30px 0 50px 0;
	background: none;
}
#preorder img:hover {
	-webkit-filter: brightness(90%) contrast(150%);
	background: none;
}
.icon {
	display: block;
	height: 75px;
	width: 75px;
	background: url(../img/css/sprite.png) no-repeat;
	margin: 0 0px 40px 113px;
}

.iconHeader {
	background: url(../img/css/sprite.png) no-repeat;
	height: 70px;
	padding: 5px 0 0 95px;
	margin-bottom: 20px;
}

.shipping {
	background-position: 0px -150px;
}

.returns {
	background-position: 0px 0;
}

.manufacturer {
	background-position: 0px -75px;
}
/*------about ---------*/
#about {
	border-bottom: solid 1px rgba(9,35,36,.1);
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

#comments {
	width: 580px !important;
	background: #fcf9fa;
	padding: 20px;
	border-radius: 10px;
}

#ourStory p {
	padding: 0 20px 0 20px;
}
#ourStory h2 {
	margin-left: 20px;
}

#ourStory .face {
	width: 70px;
	background: rgba(9,35,36,.1);
	margin-left: 0;
}
#ourStory img {
	margin: 20px;
}

/*-----footer--------*/
footer {
	padding: 40px 0;
	color: rgba(9,35,36,.5);
	float: left;
	width: 100%;
	font-size: 85%;
}

footer li{
	list-style-type: none;
	font-size: 100%;
	margin: 5px 0;
}
footer .socialIcons a {
	display: block;
	float: left;
	width: 75px;
	height: 75px;
	background-image: url(../img/css/sprite.png);
	background-repeat: no-repeat;
}

.socialIcons .fb {
	background-position: 0 -224px;
}
.socialIcons .fb:hover {
	background-position: -75px -224px;
}
.socialIcons .twitter {
	background-position: 0 -374px;
}
.socialIcons .twitter:hover {
	background-position: -75px -374px;
}
.socialIcons .pinterest {
	background-position: 0 -450px;
}
.socialIcons .pinterest:hover {
	background-position: -75px -450px;
}
.socialIcons .instagram {
	background-position: 0 -299px;
}
.socialIcons .instagram:hover {
	background-position: -76px -299px;
}

footer .copyright{
	margin-top: 20px;
	font-size: 135%;
}
/*--------OVERLAY & MODALS-----------*/
#overlay {
	position: absolute;
	top: 0;
	background: rgba(9,35,36,.2);
	width: 100%;
	z-index: 100000;
	margin: 0 !important;
	display: none;
}

#modal {
	width: 50%;
	position: absolute;
	left: 50%;
	padding: 20px;
	margin-left: -25%;
	z-index:  100001;
	background: #FCF9FA;
	box-shadow: 0 0 10px rgba(9,35,36,.5);
	border-radius: 10px;
}

#closeModal {
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 75%;
	display: inline-block;
	text-align: center;
	padding: .25em .5em;
	border-radius: 5px;
	border: solid 1px #FC9AC5;
	position: relative;
	float: right;
	font-variant: small-caps;
	cursor: pointer;
}

#closeModal:hover {
	background: #FC9AC5;
	color: #fff !important;
}